.pokemon-card
    font-family: "Roboto", arial, sans-serif
    margin: 10px 8px   
    width: 280px
    background-color: #f2f2f2
    border-radius: 25px
    padding-bottom: 20px

    &__image
        display: flex
        align-items: center
        justify-content: center

    &__information
        padding: 0 20px

    &__number,
    &__name
        padding: 0 10px

    &__number
        color: #919191
        font-size: 80%
        padding-top: 10px
        padding-left: 11px

    &__name
        color: #313131
        font-size: 145%
        margin-top: 10px

    &__types
        display: flex
        margin-top: 10px

    &__type
        color: #fff
        margin: 0 5px
        padding: 5px 15px
        border-radius: 15px

        &--Bug
            background-color:#729f3f

        &--Dark
            background-color:#707070

        &--Dragon
            background-color:#53a4cf

        &--Electric
            background-color: #eed535

        &--Fairy
            background-color:#fdb9e9

        &--Fighting
            background-color:#d56723

        &--Fire
            background-color:#fd7d24
            
        &--Flying
            background-color:#3dc7ef
            
        &--Ghost
            background-color:#7b62a3

        &--Grass
            background-color:#9bcc50
            
        &--Ground
            background-color:#f7de3f
            
        &--Ice
            background-color:#51c4e7
            
        &--Normal
            background-color:#a4acaf
            
        &--Poison
            background-color:#b97fc9
            
        &--Psychic
            background-color:#f366b9
            
        &--Rock
            background-color:#a38c21
            
        &--Steel
            background-color:#9eb7b8
        
        &--Water
            background-color:#4592c4
